
vr-thesis-template.aux
vr-thesis-template.log
vr-thesis-template.out
vr-thesis-template.pdf
vr-thesis-template.synctex(busy)
vr-thesis-template.synctex.gz
vr-thesis-template.toc
vr-thesis-template.bbl
vr-thesis-template.blg
